<div class="mainContent">
    <div class="viewListCars">
        <div class="content">
            <!-- <p class="mb-4"><b>Cars</b><img src="/img/icons/fi_chevron-right.svg" alt="" height="17"> List Cars</p> -->
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a style="color: black; text-decoration: none;" href="#">Cars</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><b> List Cars</b></li>
                </ol>
            </nav>
            <div id="alert"></div>
            <!-- <div class="alert alert-success" role="alert">
                A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
              </div> -->
            <div class="d-flex justify-content-between ">
                 <p class="text-list">List Car</p>
                 <a href="/addData">
                 <button class="btn btn-primary btn-lg add-btn">Tambah Data</button>
                </a>
            </div>
            <div class="fliter">
                <a href="/" type="submit" class="btn btn-outline-primary">All</a>
                <a href="/?filter=small"type="submit" class="btn btn-outline-primary ms-2">Small</a>
                <a href="/?filter=medium" type="submit" class="btn btn-outline-primary ms-2">Medium</a>
                <a href="/?filter=large" type="submit" class="btn btn-outline-primary ms-2">Large</a>
            </div>
            <div class="d-flex mt-3 flex-wrap gap-3 list-car">
                <% productsData.forEach((product) => { %>
                <div class="card mt-3 flex-grow-2" >
                    <img src="<%=product?.imageUrl %>" class="card-img-top" width="270" height="160" alt="...">
                    <div class="card-body">
                        <p class="card-title"><%= product?.name %> </p>
                        <p class="card-price">Rp.<%=product?.rent%>/ hari</p>
                        <p class="card-upload text-muted">uploaded <%= product?.createdAt %></p>
                        <div class="d-grid gap-2 d-md-flex justify-content-center">
                            <a href="#" class="btn btn-outline-danger btn-lg"><img class="icon" src="/img/icons/fi_trash.svg" alt="" height="17">Delete</a>
                            <a href="/update/<%=product?.id %> " class="btn btn-success btn-lg"><img class="icon" src="/img/icons/fi_edit.svg" alt="" height="17">Edit</a>
                        </div>
                    </div>
                </div>
                <% }) %> 
            </div>
        </div>
    </div>
</div>