<div class="container-fluid ">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-sm-start">
    <a href="/" class="d-flex mb-2 mb-lg-0 text-dark text-decoration-none logo-img">
      <img src="/img/logo.png" alt="logo" height="34px" width="100px">
    </a>

    <div class="nav col-12 col-lg-auto me-lg-auto justify-content-center ">
      <a class="p-3" id="button-toggle">
        <img src="/img/icons/fi_menu.svg" alt="">
      </a>
    </div>

    <form class="col-12 d-flex col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/search" role="search">
      <input type="search" class="form-control" name="name" placeholder="Search..." aria-label="Search">
      <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>

    <div class="dropdown text-end d-flex me-lg-3 ">
      <a href="#" class="d-block text-black dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/img/user_profile.png" alt="profile" width="32" height="32" class="rounded-circle">
        Nur Khaulah Arrizka
      </a>
      <ul class="dropdown-menu text-small">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>