<div class="mainContent">
    <div class="content">
        <p class="mb-4"><b>Cars<img src="/img/icons/fi_chevron-right.svg" alt="" height="17"> List Cars</b><img src="/img/icons/fi_chevron-right.svg" alt="" height="17"> Add new Car</p>
        <p class="text-list">Add New Car</p>
        <form action="/addData" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="container dataForm" style="background-color: white;">
                <div class="mb-4 row">
                    <label for="name" class="col-sm-2 col-form-label">Nama*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="name" id="name" required placeholder="Honda Civic">
                        <div class="invalid-feedback">
                            Nama Tidak Boleh Kosong
                        </div>
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="rent" class="col-sm-2 col-form-label">Sewa Per Hari*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="rent" id="rent" required placeholder="Rp.0,-">
                        <div class="invalid-feedback">
                            harga tidak boleh kosong
                        </div>
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="size" class="col-sm-2 col-form-label">Ukuran*</label>
                    <div class="col-md-5">
                        <select class="form-select" name="size" aria-label="size">
                            <option value="small" selected>Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                          </select>
                        <div class="invalid-feedback">
                            Mohon Pilih Ukuran
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="img" class="col-sm-2 col-form-label">Foto*</label>
                    <div class="col-md-5">
                        <input class="form-control" name="image" type="file" id="img">
                        <label class="text-muted" for="img">File size max. 2MB</label>
                        <div class="invalid-feedback">
                            Mohon Upload Foto
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-start">
                <button  type="cancel" class="btn btn-outline-primary btn-md">Cancel</a>
                <button  type="submit" class="btn btn-primary bg-blue ">Save</a>
            </div>
        </form>
    </div>
</div>