:root {
    --blue: #0D28A6;
    --light-blue: #CFD4ED;
    --white: #ffffff;
    
  }

body {
    font-family: 'IBM Plex Sans';
    background-color: #F4F5F7;
}
.container-fluid{
    background-color: #FFFFFF;
}
.bg-blue {
    background-color: var(--blue);
}

.logo-img{
    margin-top: 7px;
    margin-left: 90px;
    padding-right: 100px;
}

.sidenav {
    width: 150px;
    height: 100vh;
    position: fixed;
    margin-left: -100px;
    transition: 0.4s;
    text-decoration: none;
}
.text-white {
    text-decoration: none;
} 
.active-main-content {
    margin-left: 160px;
}

.active-sidenav {
    margin-left: 0;
}

.list-menu{
    position: fixed;
    margin-top: 60px;
    margin-left: -100px;
    background-color: #FFFFFF;
    width: 0px;
    height: 100%;
    /* transition: 0.4s; */
}
.active-list-menu{
    position: fixed;
    margin-top: 60px;
    margin-left: 72px;
    background-color: #FFFFFF;
    width: 220px;
    height: 100%;
}
.list-item {
    font-size: 14px;
    margin-top: 50px;
    gap: 25px;
}
.active-list {
    font-size: 14px;
    font-weight: 700;
}

#main-content {
    transition: 0.4s;
}

.mainContent{
    margin-top: 25px;
    margin-left: 140px;
    background-color: #F4F5F7;
    width: auto;
    height: auto;
}

.nav-item {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding-top: 12px;
}
.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.nav-item:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.nav-item::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    border-radius: 2px;
}
.btn-lg {
    width: 150px;
    border-radius: 2px;
}
.icon {
    margin-top: -5px;
    padding-right: 10px;
}

.btn-outline-primary {
    --bs-btn-color: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-bg: var(--light-blue);
    --bs-btn-hover-color: var(--blue);
    --bs-btn-hover-border-color: var(--blue);
    --bs-btn-focus-shadow-rgb: var(--blue);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--light-blue);
}
.btn-outline-danger {
    --bs-btn-hover-bg: #f1c7cf;
    --bs-btn-hover-color: #FA2C5A;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--light-blue);
}
.add-btn {
    margin-right: 20px;
}
.text-list {
    font-weight: 700;
    font-size: 20px;
}

.list-group{
    --list-group-active-bg: rgba(255, 255, 255, 0.3);
}

.content {
    padding-top: 20px;
    padding-left: 10px;
}

.card {
    padding: 24px;
    gap: 24px;
    width: 351px;
    height: 446px;
}
.card-img-top {
    margin-top: 40px;
}

.dataForm {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}
