<div class="mainContent">
    <div class="viewListCars">
        <div class="content">
            <p class="mb-4"><b>Cars</b><img src="/img/icons/fi_chevron-right.svg" alt="" height="17"> List Cars</p>
            <div id="alert"></div>
            <!-- <div class="alert alert-success" role="alert">
                A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
              </div> -->
            <div class="d-flex justify-content-between ">
                 <p class="text-list">List Car</p>
                 <a href="/addData">
                 <button class="btn btn-primary btn-lg add-btn">Tambah Data</button>
                </a>
            </div>
            <div class="fliter ">
                <button type="submit" class="btn btn-outline-primary">All</button>
                <button type="submit" class="btn btn-outline-primary ms-2">Small</button>
                <button type="submit" class="btn btn-outline-primary ms-2">Medium</button>
                <button type="submit" class="btn btn-outline-primary ms-2">Large</button>
            </div>
            <div class="card mt-3">
                <img src="/img/car.png" class="card-img-top" width="270" height="160" alt="...">
                <div class="card-body">
                    <p class="card-title">Innova Kijang</p>
                    <p class="card-price">Rp.440.000 / hari</p>
                    <p class="card-upload text-muted">uploaded</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                        <a href="#" class="btn btn-outline-danger btn-lg"><img class="icon" src="/img/icons/fi_trash.svg" alt="" height="17">Delete</a>
                        <a href="/update" class="btn btn-success btn-lg"><img class="icon" src="/img/icons/fi_edit.svg" alt="" height="17">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>