<div>
    <div class="d-flex flex-column flex-shrink-0 bg-blue sidenav" style="width: 4.5rem;"  id="sidenav">
      <a href="/" class="d-block p-3 mb-3 link-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right">
      <img src="/img/logo-min.png" alt="logo" height="34px" width="34px">
      </a>
      <ul class="nav nav-pills nav-flush flex-column bg-blue mb-auto text-center text-decoration-none list-group">
        <li class="nav-item list-group-item-action">
          <a href="#" > 
              <img src="/img/icons/fi_home.svg" alt="">
              <p class="text-white mt-1">Dashboard</p>
          </a>
        </li>
        <li class="nav-item btn-primary list-group-item active" aria-current="true">
          <a href="#">
              <img src="/img/icons/fi_truck.svg" alt="">
              <p class="text-white mt-1">Cars</p>
          </a>                  
        </li>
      </ul>
      <div class="list-menu " id="list-menu">
        <div class="list-group list-group-flush list-item">
            <a href="#" class="list-group-item list-group-item-action">CARS</a>
            <a href="#" class="list-group-item list-group-item-action active active-list">List Cars</a>
        </div>
    </div>
</div>