<!DOCTYPE html>
<html lang="en">
 <%- include("layouts/_header")  -%> 
<body >
    <nav class="">
        <%- include("layouts/_sidebar") -%> 
        <%- include("layouts/_navbar") -%>
    </nav>
    <div class="" id="main-content">
        <%- include(`${layouts}`) -%>
    </div>
    <footer>
        <%- include("layouts/_footer") -%> 
    </footer>
</body>
</html>